<h2>City List</h2>

<p> Add a city to this page</p>

<form action="/cities" method="post">
  <label for="new-city">City name:</label>
  <input id="new-city" name="new-city" type="text">

  <button type="submit">Add city</button>
</form>

<% if @cities.any?() %>
<p>Click on a city to see its trains:</p>
  <ul>
    <% @cities.each() do |city| %>
    <li><a href="/cities/<%= city.id()%>"> <%= city.name() %> </a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no cities yet!</p>
<% end %>
<p><a href="/admin">Admin Page</a></p>
<p><a href="/customer">Customer Page</a></p>
<p><a href="/">Homepage</a></p>
