<h1>Customer Page</h1>


<h2>Train List</h2>
<% if @trains.any?() %>
<p>Click on a train to see what cities it goes to:</p>
  <ul>
    <% @trains.each() do |train| %>
    <li><a href="/customer/trains/<%= train.id()%>"> <%= train.name() %> </a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no trains yet!</p>
<% end %>

<h2>City List</h2>
<% if @cities.any?() %>
<p>Click on a city to see its trains:</p>
  <ul>
    <% @cities.each() do |city| %>
    <li><a href="/customer/cities/<%= city.id()%>"> <%= city.name() %> </a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no cities yet!</p>
<% end %>

<p><a href="/">Homepage</a></p>
