<h1><%= @train.name %></h1>

<% if @train.cities().any?() %>
  <h3>City List</h3>
  <p>Here are all the cities this train travels to:</p>
  <ul>
    <% @train.cities().each do |city| %>
      <li><%= city.name() %></a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no cities yet!</p>
<% end %>

<p><a href="/customer">Customer Page</a></p>
<p><a href="/">Homepage</a></p>
