<h1>Add Train</h1>

<form action="/trains" method="post">
  <div class="form-group">
    <label for="new-train">New Train Name</label>
    <input type="text" name="new-train" id="new-train">
  </div>

  <button type="submit">Add Train</button>
</form>

<h2>Train List</h2>
<% if @trains.any?() %>
<p>Click on a train to see the cities it travels to:</p>
  <ul>
    <% @trains.each() do |train| %>
    <li><a href="/trains/<%= train.id()%>"> <%= train.name() %> </a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no trains yet!</p>
<% end %>

<p><a href="/cities">Cities</a></p>

<p><a href="/">Homepage</a></p>
