<h2>Train List</h2>

<p> Add a train to this page</p>

<form action="/trains" method="post">
  <label for="new-train">Train name:</label>
  <input id="new-train" name="new-train" type="text">

  <button type="submit">Add train</button>
</form>

<% if @trains.any?() %>
<p>Click on a city to see its trains:</p>
  <ul>
    <% @trains.each() do |train| %>
    <li><a href="/trains/<%= train.id()%>"> <%= train.name() %> </a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no trains yet!</p>
<% end %>

<p><a href="/admin">Admin Page</a></p>
<p><a href="/customer">Customer Page</a></p>
<p><a href="/">Homepage</a></p>
