<h1>Add Train</h1>

<form action="/admin" method="post">
  <div class="form-group">
    <label for="new-train">New Train Name</label>
    <input type="text" name="new-train">
  </div>

  <button type="submit">Add Train</button>
</form>

<p><a href="/admin">Train List</a></p>
<p><a href="/">Homepage</a></p>
